@model PagingResultDto<WebCore.Services.Share.Admins.MasterListGroups.Dto.MasterListGroupDto>
@{
    SelectList adminMenuCombobox = ViewBag.MasterListGroupCombobox;
}
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                @if (Html.HasPermission(ConstantConfig.Claims.MasterListManagement_ActionButton) || Html.HasPermission(ConstantConfig.Claims.MasterListManagement_RestoreMasterList))
                {
                    <th>
                        @Html.Lang("LBL_ACTION")
                    </th>
                }
                <th>
                    @(Html.LangFor<MasterList>(x => x.Value, "MasterListGroup"))
                </th>
                <th>
                    @(Html.Lang("LBL_MASTERLIST_GROUP_DISPLAY"))
                </th>
                <th>
                    @(Html.LangFor<MasterList>(x => x.OrderNo, "MasterListGroup"))
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @if (item.RecordStatus == ConstantConfig.RecordStatusConfig.Active)
                    {

                        @if (Html.HasPermission(ConstantConfig.Claims.MasterListManagement_ActionButton))
                        {
                            <td class="nav-item dropdown">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">settings</i>
                                        <p class="d-lg-none d-md-block">
                                            @Html.Lang("LBL_ACTION")
                                        </p>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" asp-action="Index" asp-controller="MasterList" asp-route-group="@item.Value">
                                            <i class="material-icons">info</i>
                                            <p>
                                                @Html.Lang("LBL_DETAIL")
                                            </p>
                                        </a>
                                        @if (Html.HasPermission(ConstantConfig.Claims.MasterListManagement_ActionButton_UpdateMasterList))
                                        {
                                            <div onclick="openInputModal(@item.Id)" class="dropdown-item">
                                                <i class="material-icons">create</i>
                                                <p>
                                                    @Html.Lang("LBL_UPDATE")
                                                </p>
                                            </div>
                                        }
                                        @if (Html.HasPermission(ConstantConfig.Claims.MasterListManagement_ActionButton_DeleteMasterList))
                                        {
                                            <div onclick="deleteItem(@item.Id,'@item.UpdateToken')" class="dropdown-item">
                                                <i class="material-icons">delete_forever</i>
                                                <p>
                                                    @Html.Lang("LBL_DELETE")
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                        }
                    }
                    else
                    {
                        if (Html.HasPermission(ConstantConfig.Claims.MasterListManagement_RestoreMasterList))
                        {
                            <td>
                                <button onclick="restoreItem('@item.Id','@item.UpdateToken')" type="button" class="btn btn-danger">
                                    <i class="material-icons">lock_open</i>
                                    @Html.Lang("LBL_RESTORE")
                                </button>
                            </td>
                        }
                    }
                    <td>
                        @item.Value
                    </td>
                    <td>
                        @Html.Lang($"LBL_MASTERLISTGROUP_{item.Value}")
                    </td>
                    <td>
                        @item.OrderNo
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <custompager pager-model="@Model" pager-link="/Admin/MasterListGroup" />
</div>
