@using  WebCore.Services.Share.Admins.MetaDescriptions.Dto
@model SortingAndPagingResultDto<MetaDescriptionDto>
@{
    SelectList adminMenuCombobox = ViewBag.MetaDescriptionCombobox;
}
<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <tr>
                @if (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_ActionButton) || (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_RestoreMetaDescription)))
                {
                    <th>
                        @Html.Lang("LBL_ACTION")
                    </th>
                }
                <th>
                    @(Html.LangFor<MetaDescription>(x => x.Alias))
                </th>
                <th @(Html.SortingFor<MetaDescriptionDto>(Model, x => x.Name)) onclick="onSorting(this,dataset.property)">
                    @(Html.LangFor<MetaDescription>(x => x.Name))
                </th>
                <th>
                    @(Html.LangFor<MetaDescription>(x => x.Content))
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @if (item.RecordStatus == ConstantConfig.RecordStatusConfig.Active)
                    {

                        @if (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_ActionButton))
                        {
                            <td class="nav-item dropdown">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">settings</i>
                                        <p class="d-lg-none d-md-block">
                                            @Html.Lang("LBL_ACTION")
                                        </p>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        @if (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_ActionButton_UpdateMetaDescription))
                                        {
                                            <div onclick="openInputModal(@item.Id)" class="dropdown-item">
                                                <i class="material-icons">create</i>
                                                <p>
                                                    @Html.Lang("LBL_UPDATE")
                                                </p>
                                            </div>
                                        }
                                        @if (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_ActionButton_DeleteMetaDescription))
                                        {
                                            <div onclick="deleteItem(@item.Id,'@item.UpdateToken')" class="dropdown-item">
                                                <i class="material-icons">delete_forever</i>
                                                <p>
                                                    @Html.Lang("LBL_DELETE")
                                                </p>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </td>
                        }
                    }
                    else
                    {
                        if (Html.HasPermission(ConstantConfig.Claims.MetaDescriptionManagement_RestoreMetaDescription))
                        {
                            <td>
                                <button onclick="restoreItem('@item.Id','@item.UpdateToken')" type="button" class="btn btn-danger">
                                    <i class="material-icons">lock_open</i>
                                    @Html.Lang("LBL_RESTORE")
                                </button>
                            </td>
                        }
                    }
                    <td>
                        @item.Alias
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Content
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <custompager pager-model="@Model" pager-link="/Admin/MetaDescription" />
</div>
